div {
	background-color: lightgrey;
	position: absolute;
	top: 105px;
	left: 320px;
	width: 500px;
	height: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: auto;
}

th, td {
	padding: 5px;
	font-size: 16pt;
}